.navbar-dark{
    background: #ffff00;
}
body{
    background-color: #3e4c63;
}

.jumbotron{
    margin: 0px auto;
    padding: 100px 30px;
    color: floralwhite;
    background: #3e4c63;
}

.jumbotron img{
    height: 250px;
    background: rgba(255,255,246,1);
    padding-bottom: 8px;
    
}

#verticalLine{
    height: 85%;
    width: 3px;
    background-color: floralwhite;
    border-radius: 30%;
}

#card{
    margin-bottom: 60px;
    background-color: #6b82b0;
}

#card p{
    color: floralwhite;
}

.tab-content {
    border-left: 2px solid #6b82b0;
    border-right: 2px solid #6b82b0;
    border-bottom: 2px solid #6b82b0;
    padding: 10px; }

#education{
    margin-bottom: 25px;
}   

#education .tab-content img{
    height: 100px;
}

#grades{
    padding-top: 15px;
}

#schoolGrades{
    background-color: #6b82b0;
}


.footer{
    margin: 0px auto;
    padding: 20px 0px;
    color: floralwhite;
    background-color: #212529;
}

address{
    font-size: 80%;
    margin: 0px;
}

.footer .text-center a{
    margin-bottom: 4px;
}